<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <title>Patitas Forgot Password</title>
</head>
<body>
     <div class="container" style="
            background-color: #FFC947;
            padding: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Nunito', sans-serif;">
        <div class="message-container" style="
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;">
            <img src="https://lh3.googleusercontent.com/qLwQRjLEBgT9wVMeFG6kYnI7Vi0g0OeTU4GEjiFUOQ-AWNgi-Vtbe5BRFLDOF9nkZflHCmJUd1IRg0GyvR_91h5dsD0eGfYlaHzdEevnPOeuLOYu-w9w97sFVVdrb1SD1W4j-r5unaIv3XAZFvHKSrwKUyi7cZND8g3BQ9ASIzbi4relIDxRjTxb4giUHPAeJZZVXd8gRWVOayMNtwtk2iOKuFNkab_ZkylJNkQm7lO1Ra1jnj2xtONF43lU1-fIcWsKcNxIDVK677hpjt9c7f7tFWGBavxu_d6OXXChKW0qcE8c_nXOUsVOIM0kTVUxLwjcpo2EUD0QS-_t8zW8yn1PMGuujmIb_rLWoTjS1N8ELoLxABbw1vhtuKZW_YMDD2OdGLbp1cgA9c24q-u4sP7UjU3bTPHVwuawwRgYZ47Yic8D7Gj0QKnXfsJJ-yPxKA88AfbAg60SiTwn6GGPE73sDlq25ueTJuS8uRxyB-jdhzNIordWNBIVTrmPwWK8FmHXyP7DhuwU1MZhVcMsbhSRtYfMyI1v3yJuV6TI2qbNzujAUWwtcbqCQ4i0mkVOZksiYoJliAWM8nRykXzWiVoTGJoy5HFsGK2i7zK_snvJsah9nxZJyCe2alxm7XeoTRM9mZZU7ATTtI6_iCgFwbcK1_3s6ZzKEfoVzMH--s6DKPlD7fKKVKELOQN9tNXDD6mj5_5rkWBf10TX8UVmgpN5ev3A-nIxR_F625uulnLRhn4UGUXaROPw8McNfUQ6GoA6TUJFwxvM20yPJhejFnhEg9AOnjMdGnZ22jWAa6Ez7uAUqEAhKfsdG62wDPrEdOTe651vU67aV99UZAdvMsbuhn3Sfhpj-4Dfnidvd94BC5PdFa1s-TPU6k4yUJDafxMAGuiAkvYi0CQfFazbeCScqmNScH_vKz0n-V-GkVshf2MY8jWqDq50hqTGFUnY_aEhOc-aj7tO2VS_E2iCmL5nlheT1EEdn8Mjt6kB1fBe6l3ULAuBiZhh8oJq9kRvyE1ATqxEQU_WfZnCo76sQEDkzw=w923-h263-no?authuser=3" alt="banner" style="width: 100%;
            background-size: cover;">
            <div class="message" style="padding: 1rem;">
                <h1>Cambiar contrase単a</h1>
                <p style="font-size: 0.9rem;">
                    Recibimos su solicitud para cambio de contrase単a para su cuenta de Patitas. Para 
                    proceder con el cambio presione el siguiente link: <br><br>
                    <a href="{{link}}">LINK</a> <br><br>
                    Si eso no funciona copie y pegue la siguiente direccion en el buscador para ingresar
                    al formulario.<br><br>

                    <span>{{link}}</span>
                    <br><br>
                </p>
                <p style="font-size: 0.9rem;">
                    Si no quiere cambiar la contrase単a entonces ignore este mensaje. <br> Si usted no ha solicitado
                    este cambio de contrase単a puede comunicarse al siguiente correo y lo atenderemos
                    <br><br>
                    <strong>patitaswebinfo@gmail.com</strong>
                </p>
            </div>
        </div>
    </div>
</body>
</html>